*{
    margin:0;
    padding:0;
    box-sizing:border-box

}

.first{
        background-color: rgb(69, 156, 255);
        padding-left: 10px;
        padding: 10px;
        justify-content: space-between;
}