
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.first-heading{
        background-color: rgb(69, 156, 255);
        padding-left: 10px;
        padding: 10px;
}
#form-div{
    margin: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#form-div label{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}
#form-div button{
    background-color: rgb(69, 156, 255);
    color: white;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;

}


.product-card {

  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card h3 {
  margin-bottom: 10px;
  color: #333;
}

.product-card p {
  margin: 5px 0;
  color: #555;
}

.product-card .desc {
  font-size: 14px;
  color: #666;
}

.product-card button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: darkred;
}

#product_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#pagination{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.product_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 85px;
justify-content: center;
}

.edit-box {
  margin-top: 10px;
}

.edit-box input {
  width: 80px;
  margin-right: 5px;
}
